@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--Cream);
}

:root {
--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}

.container {
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
    width: 40%;
    height: 60%;
}

.img-container {
    outline: 1px solid red;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.content-container {
    outline: 1px solid red;
    height: 100%;
    width: 100%;
}
