@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

:root {
--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}

.container {
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Cream);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 60%;
    background-color: var(--White);
    border-radius: 10px;
    overflow: hidden;
}

.img-container {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.content-container {
    height: 100%;
    width: 100%;
}

.content-container h3 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1rem;
    padding: 1.5em 0em 0em 1.5em;
    letter-spacing: 5px;
    color: var(--Dark-grayish-blue);
}

.content-container h1 {
    font-size: 2rem;
    padding: .5em 0em 0em .75em;
    font-family: 'Fraunces', serif;
}

.content-container p {
    color: var(--Dark-grayish-blue);
    padding: 1em 0em 0em 2em;
    font-size: .75rem;
}

.content-container span {
    text-decoration: line-through;
    font-size: .75rem;
    font-weight: normal;
    padding: .5em 0em 0em .5em;
    color: var(--Very-dark-blue);
}

.content-container h4 {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: var(--Dark-cyan);
    padding: .25em 0em 0em .75em;
}

.button-primary {
    background: none;
    border: 1px solid var(--Dark-cyan);
    cursor: pointer;
    background-color: var(--Dark-cyan);
    color: var(--White);
    margin: 1em 0em 0em 1em;
    padding: 1em 5em;
    border-radius: 5px;
}

.button-primary img {
    padding-right: .5em;
}

@media screen and (max-width: 992px) {
    .flex-container {
        width: 60%;
        height: 80%;
    }

    .content-container h3 {
        font-size: 1.5rem;
        padding: 1em 0em 0em 1em;
    }

    .content-container h1 {
        font-size: 2.5rem;
        padding: 0em 0em 0em .5em;
    }

    .content-container p {
        padding: 1em 0em 0em 1.5em;
        font-size: 1rem;
    }

    .content-container span {
        font-size: 1rem;
        padding: .5em 0em 0em .5em;
    }
    
    .content-container h4 {
        font-size: 2rem;
        padding: .5em 0em 0em .75em;
    }

    .button-primary {
        margin: 1em 0em 0em 1.5em;
        padding: 1em 5em;
    }

    .button-primary img {
        padding-right: .5em;
    }
}

@media screen and (max-width: 768px) {
    .flex-container {
        width: 80%;
        height: 80%;
    }

    .content-container h3 {
        font-size: 1.5rem;
        padding: 1em 0em 0em 1em;
    }

    .content-container h1 {
        font-size: 2.5rem;
        padding: 0em 0em 0em .5em;
    }

    .content-container p {
        padding: .5em 0em 0em 1.25em;
        font-size: 1.25rem;
    }

    .content-container span {
        font-size: 1.5rem;
        padding: .5em 0em 0em .5em;
    }
    
    .content-container h4 {
        font-size: 2.5rem;
        padding: .5em 0em 0em .75em;
    }

    .button-primary {
        margin: 2em 0em 0em 1.5em;
        padding: 1em 4em;
        font-size: 1rem;
    }

    .button-primary img {
        padding-right: .5em;
    }
}

@media screen and (max-width: 640px) {
    .flex-container {
        width: 95%;
        height: 95%;
        flex-direction: column;
        overflow: hidden;
    }

    .img-container {
        overflow: hidden;
    }

    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: block;
    }

    .content-container {
        display: flex;
        justify-content: center;
        align-items: right;
        flex-direction: column;
    }

    .content-container h3 {
        font-size: 1.5rem;
        padding: 1em 0em 0em 1em;
    }

    .content-container h1 {
        font-size: 2.5rem;
        padding: 0em 0em 0em .5em;
    }

    .content-container p {
        padding: .5em 0em 0em 1.25em;
        font-size: 1.25rem;
    }

    .content-container span {
        font-size: 1.5rem;
        padding: .5em 0em 0em .5em;
    }
    
    .content-container h4 {
        font-size: 2.5rem;
        padding: .5em 0em 0em .75em;
    }

    .button-primary {
        margin: 2em 0em 0em 1.5em;
        padding: 1em 4em;
        font-size: 1rem;
    }

    .button-primary img {
        padding-right: .5em;
    }
}

 

/* 
@media screen and (max-width: 992px) {
    
}

/* @media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 640px) {
    
}
*/